*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: sans-serif;
}
.background-photo{
    width:100%;
    height:100%;
    position:absolute;
}
.background-photo img{
    width:100%;
    height:100%;
    background-repeat: no-repeat;
    background-size:100%;
    position:fixed;
}
.cover{
    background: #8d8d8d;
    width:100%;
    height:100vh;
    opacity:0.8;
    position: fixed;
    top:0;
}
main{
    position:relative;
    top:0;
    max-width:800px;
    margin:auto;
    padding-top:50px;
}
main h1{
    margin-bottom:20px;
    font-size:30px;
    text-align:center;
}
main hr{
    width:500px;
    height:4px;
    border:none;
    background:#dadada;
}
.comment-container{
    margin-top:28px;
    margin-bottom:28px;
    display:flex;
}
.comment-photo{
    width:80px;
    height:80px; 
}
.comment-photo img{
    width:100%;
    height:100%;
    border-radius:50%;   
}
.comment-text-area{
    margin-left:20px;
}
.name-date{
    display:flex;
    justify-content: space-between;
    background:rgb(39, 105, 192);
    padding:10px;
    margin-top:5px;
    color:#fff;
    font-size:18px;
}
.comment-content{
    padding:20px;
    background:#dddddd;
}
.footer{
    padding:10px;
    color:rgba(139, 139, 139, 0.867);
    background:#fff;
    border-bottom:6px solid #000;
    display:flex;
    justify-content: space-between;
}
.footer h5{
    cursor: pointer;
    font-size:18px;
}
.footer .icon-heart{
    font-size:22px;
    cursor:pointer;
}
.footer .icon-heart:hover{
    cursor:pointer;
    color:red;
}
.footer .icon-heart-marked{
    color:red;
}
/*ANSWER COMMENT*/
.comment-container-answer{
    display:flex;
    margin-bottom:20px;
    margin-left:93px;
}

/*box to write a comment*/
.write-comment-box{
    background:white;
    width:100%;
    height:330px;
    position:fixed;
    transform: translateY();
    padding-top:20px;
    border-top:6px solid rgb(39, 105, 192);
}
.container-comment-box{
    width:70%;
    margin:auto;
}
.awatar{
    display:flex;
}
.awatar img{
    width:80px;
    height:80px;
    border-radius:50%;
}
.awatar input{
    width:300px;
    margin-left:50px;
    border:none;
    outline:none;
    border-bottom:3px solid #8d8d8d;
    font-size: 16px;
}
.comment-text{
    width:100%;
    max-width:100%;
    min-width:100%;
    max-height:100px;
    min-height:50px;
    margin-top:30px;
    padding:15px;
    background: #dddcdc;
    font-size: 18px;
}


.btn-comment{
    width:150px;
    height:40px;
    color:#fff;
    background:rgb(39,105,192);
    float:right;
    font-size:17px;
    border:none;
    margin-top:20px;
    cursor:pointer;
}
.btn-comment:hover{
    opacity:0.9;
}
.cover-comment{
    width:100%;
    height:100vh;
    background:#000;
    position:fixed;
    top:0;
    left:0;
    opacity:0.8;
}